@{
    ViewData["Title"] = "Home Page";
}
<style>
   
     .welcome-section {
        text-align: center;
        padding: 50px;
        background-color: #caddf0;
        border-radius: 10px;
        color: black;
        }

        .motivational-quote {
            margin-top: 20px;
        }

</style>
   
<section class="welcome-section mt-4">
    <h2>Welcome to Your Employee Travel Experience</h2>
    <p>Embark on a journey of discovery and growth. Your next adventure begins here.</p>
</section>
